#allpics {
    display: grid;
    grid-template-columns: repeat(2, );
    grid-template-rows: auto;
    grid-column-gap: 20px;
    width: 50%;
}

#allpics img {
    width: 10%;
    border-radius: 48%;
}

.users__user_image {
    max-height: 100px;
}

.tvShow__image {
    max-height: 150px;
}