* {
    padding: 0;
    box-sizing: border-box;
}
.users_imgs {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    margin: 2rem auto;
    justify-content: space-evenly;
}
.flexImg {
    justify-content: flex-start;
    position: relative;
    width: 50%;
    max-width: 100px;
}
.user_img {
    display: block;
    width: 100%;
    height: auto;
}
.img-hover-block {
    position: absolute;
    bottom: 0;
    background: rgb(0, 0, 0);
    background: rgba(8, 40, 109, 0.5);
    color: #f1f1f1;
    width: 100%;
    transition: .5s ease;
    opacity:0;
    color: white;
    font-size: 18px;
    padding: 2.5px;
    text-align: center;
  }
.flexImg:hover .img-hover-block {
    opacity: 1;
}

.tvShow__image {
    max-height: 150px;
}