/* -------LOG IN------- */
.Login-add-__username {
    padding: 0.5rem;
    margin: 1rem;
    border-radius: 9px;
    font-size: 1.25rem;
    box-shadow: inset 7px 0px 10px 0px rgb(219, 80, 61);
    border: none;
    outline: none;
}
.Login-add-__username:focus-within {
    box-shadow: 0 0 10px rgb(219, 80, 61);
}
button.Search-addReview-watchList__submit {
    font-size: 1.5rem;
    margin: 1rem 2rem;
    padding: 0.5rem 1rem;
    background: linear-gradient(to right, #FFFFFF, #DB4F3D);
    box-shadow: 0 0 10px rgba(219, 80, 61, 0.7);
    border-radius: 8px;
    text-transform: capitalize;
    border: none;
    outline: none;
    cursor: pointer;
}
button.Search-addReview-watchList__submit:hover {
    background: #FFFFFF;
    box-shadow: inset -7px 0px 10px 0px rgb(219, 80, 61);
}
.login__grid_container{
    display: grid;
    grid-template-columns: 2fr;
    grid-template-rows: auto;
    padding: 1em;
    grid-row-gap: .5em;
    width: 300px;
    margin: auto;
}
/* ---ALL MEMBERS DISPLAY--- */
.users {
    padding: 30px;
    text-align: center;
    background: linear-gradient(to left, #FFFFFF, #DB4F3D);
}
h4.user__name_btn {
    margin-top: 7px;
    cursor: pointer;
}
.users__grid_container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    padding: 1em;
    grid-row-gap: 2em;
    border: 5px solid rgba(255, 255, 255, 0.503);
    width: 500px;
    margin: auto;
}
.users__user_image {
    width: 85px;
    height: 100px;
    border-radius: 50%;
    margin-top: 10px;
}
.user__name_btn {
    cursor: pointer;
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    font-weight: normal;
}
.p_name-hover-btn {
    display: none;
    color: rgb(246, 250, 10);
}
.user__name_btn:hover .p_name-hover-btn {
    display: contents; 
}
