.tvShows {
    padding: 30px;
    text-align: center;
}
.tvShows__grid_container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto;
    grid-row-gap: 2em;
    padding: 1em;



    /* display: flex;
    flex-wrap: wrap;
    text-align: center;
    margin: 2rem auto;
    justify-content: space-evenly; */
}
.tvShows__show_image {
    display: block;
    margin-top: 5px;
    margin-bottom: 30px;
    border-radius: 20px;
    max-height: 130px;
    max-width: 250px;
}
.tvShows__show_title {
    cursor: pointer;
}
.tvShows__specific_tvShow {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #ac3c3cf5;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 7px 10px;
    z-index: 1;
    transition: all 0.7s linear;
}
.tvShows__specific_tvShow:hover .dropdown-content {
    display: block;
}
.p-dropdown {
    font-size: 1.5em;
}
.icon {
    width: 80px;
    height: 60px;
    margin: 2px;
}
.icon:hover {
    opacity: .5;
}
