* {
    padding: 0;
    box-sizing: border-box;
}
body {
    background: rgba(106, 77, 81, 0.9); /*----placeholding background---- */
    padding: 20px;
}
/* -----ABOUT US----- */
.p__about-us {
    text-align: center;
    color: rgba(255, 255, 255, 0.768);
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.25rem;
}
.container__about-us {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    margin: 2rem auto;
    justify-content: space-evenly;
}
.flexImg__about-us {
    justify-content: flex-start;
    position: relative;
    width: 50%;
    max-width: 100px;
    border: 1.5px solid rgba(0, 0, 0, 0.707);
    box-shadow: -3px 3px 0 0px rgba(0, 0, 0, 0.707);
    border-radius: 3px;
    outline: none;
}
.flexImg__about-us:hover {
    border: 2px solid rgba(0, 0, 0, 0.707);
}
.about-us_img {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 3px;
}
.img-hover-block {
    position: absolute;
    bottom: 0;
    background: rgb(0, 0, 0);
    background: rgba(8, 40, 109, 0.5);
    color: #f1f1f1;
    width: 100%;
    opacity:0;
    color: white;
    font-size: 18px;
    padding: 4px;
    text-align: center;
    transition: all 0.7s linear;
}
.flexImg__about-us:hover .img-hover-block {
    opacity: 1;
}
a:link, a:visited {
    text-decoration: none;
    color: white;
    outline: none;
}
